<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Advocate Details</title>
</head>
<body>
<h1 th:text="${advocate.name}">Advocate Name</h1>
<p th:text="'Education: ' + ${advocate.education}">Education</p>
<p th:text="'Position: ' + ${advocate.position}">Position</p>
<p th:text="'Experience: ' + ${advocate.experience}">Experience</p>
<p th:text="'PastCases: ' + ${advocate.pastCases}">PastCases</p>

<h2>Book Advocate</h2>
<form th:action="@{'/booking'}" method="post">
    <input type="text" name="clientName" placeholder="Your Name" required/>
    <input type="date" name="appointmentDate" required/>
    <input type="hidden" th:value="${advocate.id}" name="advocateId"/>
    <button type="submit">Book</button>
</form>
</body>
</html>
